*{
    margin:0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #7a3fa3;
    border: 0;

}

#cabeçário{
    width: 100%;
    height: 30px;
    background-color: #ebceef;
    display: fixed;
    right: 50%;
    top:50%;
}


h1{
    color: #ebceef;
    font-size: 45px;;
    margin-top: 6.7rem;
}

img{
    width: 250px;
    height: 250px;
    margin-top: 15px;
    align-items: center;
    border-radius: 10px;

}

button{
    width: 205px;
    height: 35px;
    background-color: #ebceef;
    border-radius: 10px;
    margin-top: 15px;
   border:0 ;
}

button:hover{
    width: 210px;
    height: 40px;
}

a{
    text-decoration: none;
}


input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    border:0;
}
